
.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: white;
  }
  
  .centeredGif {
    max-width: 100%; 
    height: auto; /* Maintain aspect ratio */
  }
  @media screen 
  and (max-width: 992px) and (min-width: 300px){
 }