* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  /* font-family:"Outfit", Arial, Helvetica, sans-serif; */

}
html{
  scroll-behavior: smooth;
}
h2{
justify-content:center;
display:flex;
margin-top: 3%;
margin-bottom: 7%;
scroll-behavior: smooth;
float: center;
color: rgb(255, 255, 255);
text-shadow: 1px 1px 2px black, 0 0 45px rgb(255, 221, 0), 0 0 10px darkorange, 0 0 18px tan;


}
h2,#text{
  font-size: 50px;
  margin-bottom: 8%;
}
img{
 position: absolute;
 margin-top: 3.5%;
 margin-bottom: 10%;
}
@media screen 
and (max-width: 992px) and (min-width: 300px){
}