:root{
    /*colors */
    --color-text:black;
    --color-primary:black;
    --color-secondary:white;
    --color-dark:#b47e11;
    --color-bg:rgba(217, 192, 159, 0.914);

    /*fonts*/
    font-family: 'Bungee Shade', system-ui;
}

    @media screen 
     and (max-width: 992px) and (min-width: 300px){
    }
  