@import "../../vars.css";
.nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    z-index: 2;
    margin:0% 10%;
    font-size: 23px;
    }
    a{
        color:black;
    }

    /* @media screen 
     and (max-width: 600px) and (min-width: 400px){
    } */

    @media (max-width: 992px) {
        .navbar {
             max-width:100%;
             min-width:50%;
        }
      }
      @media (min-width: 300px) {
        .navbar {
            max-width:100%;
            min-width:50%;
        }
      }
      