@import "../../vars.css";
.nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    z-index: 2;
    margin:0% 10%;
    font-size: 23px;
    }
    a{
        color:black;
    }